@model AddMemberForm


<section id="add-member" class="custom-modal">
    <div class="custom-modal-content">
        <div class="custom-modal-header">
            <h3>New Member</h3>
            <button class="btn-close" data-close="true"></button>
        </div>

        <form asp-action="AddMember" asp-controller="Admin" method="post" enctype="multipart/form-data">

            <div class="img-preview-box circle">
                <img id="imagePreviewEdit" src="" class="img-preview">
                <input asp-for="ImageFile" type="file" accept="image/*" class="hide">
            </div>

            <div class="name-group">
                <div class="form-group ">
                    <label asp-for="FirstName" class="form-label"></label>
                    <input asp-for="FirstName" class="form-control">
                    <span asp-validation-for="FirstName"></span>
                </div>
                <div class="form-group ">
                    <label asp-for="LastName" class="form-label">Last Name</label>
                    <input asp-for="LastName" class="form-control">
                    <span asp-validation-for="LastName"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email"></span>
            </div>

            <div class="form-group">
                <label asp-for="Phone" class="form-label"></label>
                <input asp-for="Phone" class="form-control">
                <span asp-validation-for="Phone"></span>
            </div>

            <div class="form-group">
                <label asp-for="JobTitle" class="form-label"></label>
                <input asp-for="JobTitle" class="form-control">
                <span asp-validation-for="JobTitle"></span>
            </div>

            <div class="form-group">
                <label asp-for="Street" class="form-label"></label>
                <input asp-for="Street" class="form-control">
                <span asp-validation-for="Street"></span>
            </div>
            <div class="address-group">
                <div class="form-group">
                    <label asp-for="PostalCode" class="form-label"></label>
                    <input asp-for="PostalCode" class="form-control">
                    <span asp-validation-for="PostalCode"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="form-label"></label>
                    <input asp-for="City" class="form-control">
                    <span asp-validation-for="City"></span>
                </div>
            </div>

            <div class="form-group date-group">
                <label asp-for="Day" class="form-label"></label>
                <div class="d-flex gap-2">

                    <div class="flex-grow-1">
                        @Html.DropDownListFor(m => m.Day, Model.Days, "Day", new { @class = "form-control" })
                    </div>
                    <span asp-validation-for="Day"></span>
                    <div class="flex-grow-1">
                        @Html.DropDownListFor(m => m.Month, Model.Months, "Month", new { @class = "form-control" })
                    </div>

                    <div class="flex-grow-1">
                        @Html.DropDownListFor(m => m.Year, Model.Years, "Year", new { @class = "form-control" })
                    </div>
                    
                </div>
            </div>

            <button type="submit" class="btn btn-login w-100">Add Member</button>

        </form>
    </div>
</section>
