
<div class="nav-links">
    <a asp-action="Projects" asp-controller="Projects" class="nav-link @(Context.Request.Path.StartsWithSegments("/projects") ? "active" : "")">
        <i class="fa-solid fa-briefcase"></i>
        <span>Projects</span>
    </a>

    <a asp-action="Members" asp-controller="Admin" class="nav-link @(Context.Request.Path == "/admin/members" ? "active" : "")">
        <i class="fa-solid fa-user"></i>
        <span>Team Members</span>
    </a>
</div>
