
<div class="nav-links">
    <a href="#" class="nav-link">
        <i class="fa-solid fa-briefcase"></i>
        <span>Projects</span>
    </a>

    <a href="#" class="nav-link">
        <i class="fa-solid fa-user"></i>
        <span>Team Members</span>
    </a>
</div>
