@{
    Layout = "_AdminLogInLayout";
    ViewData["Title"] = "Admin Login";
}

<section id="admin">
    <div class="admin-container">
        <div class="image-side">

            <div class="headline">
                <h1>Welcome to</h1>
                <h1 class="yellow">Admin Panel</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper nisl erat, vel convallis elit fermentum pellentesque. Sed mollis velit facilisis facilisis viverra.</p>
            </div>

        </div>
        <div class="login-form">
            <div id="login" class="form-container">
                <h1>Login</h1>
                <form>
                    <div class="signin-google">
                        <button class="btn btn-google w-100"><img class="icon" src="~/images/google-icon.svg" alt="">Login with Google</button>
                        <div class="divider">
                            <span>OR</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Email</label>
                        <input class="form-control" placeholder="Your email address">
                        <span></span>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Password</label>
                        <input class="form-control" placeholder="Enter your password">
                        <span></span>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Remember Me
                        </label>
                        <span>
                            <a href="">Forgot Password?</a>
                        </span>
                    </div>
                    <button class="btn btn-login mt-1">Log In</button>
                </form>

                <p><a</a></p>
            </div>
        </div>
    </div>
</section>